<!-- <% if (theme.valine){ %>
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'BOGU0LmK7Y9vx8NJyGmAbr3C-gzGzoHsz',
            appKey: '1MJxNelURm3jcmFIN0kcJneT',
            verify: true,
            placeholder: '快来留下你的脚印吧',
            visitor: true
        })
    </script>
<% } %> -->
